.logo{
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    height: 30px;
    position: relative;
    z-index: 999;
    cursor: pointer;
    span {
        color: var(--color-active);
        font-size: 18px;
        margin-left: 5px;
    }
}